CurrentTool {
	position: absolute;
	background: linear-gradient(to right, rgba(black, 0.5), rgba(black, 0.0));
	top: 100px;
	left: 0px;
	padding: 30px 70px;
	flex-direction: column;
	width: 560px;
	opacity: 0.0;

	&.active
	{
		opacity: 1.0;
	}

	.title {
		font-size: 50px;
		font-weight: bold;
		text-shadow: 4px 4px 10px rgba( black, 0.3 );
		color: white;
	}

	.description
	{
		padding-top: 5px;
		padding-left: 10px;
		font-size: 18px;
		font-weight: normal;
		text-shadow: 2px 2px 5px rgba( black, 0.3 );
		color: white;
		opacity: 0.8;
	}
}

InventoryBar {
	position: absolute;
	bottom: 30px;
	left: 50%;
	display: flex;
	transform: translateX( -50% );
}

InventoryIcon {
	width: 60px;
	height: 60px;
	background-color: rgba( #222, 0.3 );
	margin: 0px 5px;
	position: relative;
	transition: all 0.2s ease-in-out;
	font-family: poppins;
	border-radius: 40px;
	backdrop-filter: blur( 10px );

	.item-name {
		padding: 5px;
		color: white;
		text-align: center;
		left: 0;
		right: 0;
		font-size: 10px;
		position: absolute;
		bottom: 0;
		opacity: 0.7;
		transition: all 0.5s ease-in-out;
		text-shadow: 1px 1px 5px black;
		display: none;
	}

	&.active {
		background-color: rgba( #000000, 0.5 );
		transition: all 0.1s ease-out;
		border-radius: 40px;

		.slot-number {
			color: #275576;
		}

		.item-name {
			opacity: 1;
			transition: all 0.1s ease-out;
			font-size: 13px;
		}
	}
}

.scoreboard
{
	position: absolute;
	z-index: 100;
	flex-direction: column;
	font-family: Bungee;
	font-size: 18px;
	font-weight: 500;
	color: white;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	opacity: 0;
	background-color: rgba( 0, 0, 0, 0.9 );
	transition: all 0.1s ease-out;
	transform: scale( 1.05 );
	transform-origin: 50% 50%;

	&.open
	{
		opacity: 1;
		transform: scale( 1 );
	}

	.name
	{
		flex-grow: 1;
	}

	.deaths, .kills, .ping
	{
		width: 90px;
		text-align: right;
	}

	.header
	{
		font-weight: 200;
		opacity: 0.3;
		border-bottom: 2px solid rgba( white, 0.6 );
		min-width: 30%;
	}

	.canvas
	{
		flex-direction: column;
		min-height: 50%;
		min-width: 30%;

		.entry
		{
			margin-bottom: 2px;
			padding: 4px;

			&.me
			{
				color: #b6ff00;
			}
		}
	}
}

chatbox {
	position: absolute;
	left: 50px;
	bottom: 100px;
	/*pointer-events: all;*/

	textentry {
		border-radius: 5px;
	}

	.chat_canvas {
		height: 312px;
		overflow: scroll;
		justify-content: flex-end;
	}
}

chatentry {
	border-radius: 5px;
}

.options {
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 0%, 5%, 5%, 0%;
	color: #fff;
	font-family: Bungee;
	font-size: 12px;
	padding: 20px;
	position: absolute;
	top: 30px;
	backdrop-filter: blur( 10px );
}

Health {
	position: absolute;
	right: 50px;
	bottom: 50px;

	.healthBox {
		background-color: rgba(0, 0, 0, 0.3);
		width: 200px;
		border-radius: 5px;

		.healthBar {
			position: relative;
			background-color: rgba(255, 0, 0, 0.2);
			height: 30px;
			border-radius: 5px;
			backdrop-filter: blur( 10px );
		}

		.healthValue {
			position: absolute;
			font-size: 24px;
			font-family: Bungee;
			color: #ffffff;
			right: 10px;
		}
	}
}

Checkpoint {
	bottom: 50px;
	left: 50px;
	position: absolute;


	.cpBox {
		background-color: rgba(0, 0, 0, 0.3);
		border-radius: 5px;
		width: 200px;

		.cpBar {
			position: relative;
			background-color: rgba(150, 0, 150, 0.2);
			height: 30px;
			border-radius: 5px;
			backdrop-filter: blur( 10px );
		}

		.cpValue {
			position: absolute;
			font-size: 24px;
			font-family: Bungee;
			color: #ffffff;
			left: 10px;
		}
	}
}

TotalLevels {
	position: absolute;
	top: 30px;
	left: 50%;
	display: flex;
	transform: translateX( -50% );
	color: #fff;
	font-family: Bungee;

	.levelBox {
		position: relative;
		float: left;
		width: 40px;
		height: 40px;
		background-color: rgba(0, 0, 0, 0.3);
		border-radius: 20px;
		margin-right: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		backdrop-filter: blur( 10px );

		.levelNumber {
			position: absolute;
		}
	}
}